node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

.idea

*.db*
drizzle/

dist

android

src/config/service-account.json